.version.index {
    color: #0000E4;
    background-color: #13F589;
}

#page {
    z-index: 1;
    min-height: 7771px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-top: 48px;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

#pu257-7 {
    z-index: 12;
    width: 100%;
}

#u257-7 {
    z-index: 12;
    min-height: 144px;
    background-color: transparent;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    color: #707070;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    position: relative;
    margin-right: -10000px;
    width: 4.8%;
    left: 6.15%;
}

#u260-7 {
    z-index: 38;
    min-height: 144px;
    background-color: transparent;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    color: #707070;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    position: relative;
    margin-right: -10000px;
    width: 4.8%;
    left: 15.16%;
}

#u263-7 {
    z-index: 52;
    min-height: 144px;
    background-color: transparent;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    color: #707070;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    position: relative;
    margin-right: -10000px;
    width: 6.05%;
    left: 23.6%;
}

#u126-6 {
    z-index: 5;
    min-height: 142px;
    background-color: transparent;
    line-height: 78px;
    text-align: center;
    color: #707070;
    font-size: 65px;
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    position: relative;
    margin-right: -10000px;
    margin-top: 2px;
    width: 20.84%;
    left: 39.48%;
}

#u126 {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u126-2 {
    letter-spacing: -2px;
}

#u420-7 {
    z-index: 31;
    min-height: 144px;
    background-color: transparent;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    color: #707070;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    position: relative;
    margin-right: -10000px;
    width: 5.94%;
    left: 69.69%;
}

#u417-7 {
    z-index: 45;
    min-height: 144px;
    background-color: transparent;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    color: #707070;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    position: relative;
    margin-right: -10000px;
    width: 4.8%;
    left: 79.54%;
}

#u414-7 {
    z-index: 59;
    min-height: 144px;
    background-color: transparent;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    color: #707070;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    position: relative;
    margin-right: -10000px;
    width: 5.53%;
    left: 88.34%;
}

#u195 {
    z-index: 11;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    margin-top: 30px;
    position: relative;
    width: 100%;
    background: transparent url("../images/ep_01192016_vietnamesestylespaghettisquashnoodlebowlswithsteak.jpg?crc=472383107") no-repeat center center;
    background-size: cover;
}

#u195 .fluid_height_spacer {
    padding-bottom: 35.625%;
}

#about {
    margin-top: 347px;
    position: relative;
    margin-left: 16.52%;
}

#u269-4 {
    z-index: 66;
    min-height: 210px;
    background-color: transparent;
    line-height: 56px;
    font-size: 40px;
    color: #707070;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 23px;
    position: relative;
    width: 57.45%;
    margin-left: 16.52%;
}

#u483 {
    z-index: 4;
    min-height: 1275px;
    background-color: #1C1C1C;
    padding-bottom: 193px;
}

#u483_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1920px;
}

#panchor-u1004 {
    z-index: 227;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 173px;
    width: 37.45%;
    margin-left: 6.15%;
}

#anchor-u1004 {
    position: relative;
}

#u429-5 {
    z-index: 19;
    min-height: 55px;
    background-color: transparent;
    line-height: 18px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 25px;
    position: relative;
    width: 71.63%;
}

#u435-9 {
    z-index: 70;
    min-height: 206px;
    background-color: transparent;
    margin-top: 81px;
    position: relative;
    width: 72.33%;
    margin-left: 27.68%;
}

#u435-4 {
    font-size: 33px;
    text-align: left;
    color: #C4C4C4;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    line-height: 0px;
}

#u435-5 {
    font-size: 30px;
    line-height: 33px;
    color: #999999;
}

#u441-8 {
    z-index: 136;
    min-height: 206px;
    background-color: transparent;
    margin-top: 33px;
    position: relative;
    width: 72.33%;
    margin-left: 27.68%;
}

#u444-8 {
    z-index: 144;
    min-height: 206px;
    background-color: transparent;
    margin-top: 33px;
    position: relative;
    width: 72.33%;
    margin-left: 27.68%;
}

#u450-8 {
    z-index: 152;
    min-height: 206px;
    background-color: transparent;
    margin-top: 33px;
    position: relative;
    width: 72.33%;
    margin-left: 27.68%;
}

#pu456-8 {
    z-index: 112;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 352px;
    width: 27.09%;
    margin-left: 52.97%;
}

#u456-8 {
    z-index: 112;
    min-height: 206px;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#u468-8 {
    z-index: 120;
    min-height: 206px;
    background-color: transparent;
    margin-top: 33px;
    position: relative;
    width: 100%;
}

#u474-8 {
    z-index: 128;
    min-height: 206px;
    background-color: transparent;
    margin-top: 33px;
    position: relative;
    width: 100%;
}

#u441-3, #u444-3, #u450-3, #u456-3, #u468-3, #u474-3 {
    font-size: 33px;
    color: #C4C4C4;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    line-height: 0px;
}

#u435, #u435-3, #u441, #u444, #u450, #u456, #u468, #u474 {
    line-height: 36px;
}

#u435-2, #u441-2, #u444-2, #u450-2, #u456-2, #u468-2, #u474-2 {
    font-size: 20px;
    line-height: 22px;
}

#u435-7, #u441-4, #u441-6, #u444-4, #u444-6, #u450-4, #u450-6, #u456-4, #u456-6, #u468-4, #u468-6, #u474-4, #u474-6 {
    font-size: 25px;
    line-height: 28px;
    color: #999999;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

#u486-7 {
    z-index: 24;
    min-height: 55px;
    background-color: transparent;
    line-height: 18px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 54px;
    position: relative;
    width: 99.04%;
    margin-left: 0.39%;
}

#u429, #u486 {
    text-align: center;
    color: #707070;
    font-family: futura-pt, sans-serif;
}

#u429-3, #u486-5 {
    text-align: left;
    color: #C4C4C4;
    font-family: futura-pt, sans-serif;
    font-style: italic;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#u483-bw {
    z-index: 4;
    min-height: 1275px;
    margin-top: 387px;
}

#ppu517 {
    z-index: 0;
    margin-top: 20px;
    width: 100%;
}

#pu517 {
    z-index: 160;
    margin-right: -10000px;
    width: 37.87%;
    margin-left: 1.2%;
}

#u517 {
    z-index: 160;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#u537 {
    z-index: 162;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

#ppgallery {
    z-index: 0;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 6px;
    width: 59.69%;
    margin-left: 39.07%;
}

#pgallery {
    z-index: 228;
    width: 98.87%;
}

#gallery {
    position: relative;
    margin-right: -10000px;
    width: 22px;
    margin-top: 251px;
}

#u557 {
    z-index: 164;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    width: 97.97%;
    left: 2.04%;
}

#pu567 {
    z-index: 166;
    margin-top: 17px;
    width: 98.52%;
    margin-left: 1.49%;
}

#u567 {
    z-index: 166;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 3px;
    width: 50.49%;
}

#u597 {
    z-index: 168;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    width: 49.69%;
    left: 50.14%;
}

#u607-12 {
    z-index: 170;
    min-height: 213px;
    background-color: transparent;
    line-height: 43px;
    font-size: 31px;
    color: #707070;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: italic;
    position: relative;
    margin-right: -10000px;
    margin-top: 555px;
    width: 48.63%;
    left: 51.38%;
}

#u704 {
    z-index: 3;
    min-height: 1784.5000000000036px;
    background-color: #1C1C1C;
    padding-bottom: 0px;
}

#u704_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1920px;
    padding-top: 198px;
    padding-bottom: 236px;
}

#reviews {
    position: relative;
    left: 16.46%;
}

#u695-6 {
    z-index: 182;
    min-height: 247px;
    background-color: transparent;
    color: #C4C4C4;
    font-weight: 500;
    margin-top: 38px;
    position: relative;
    width: 57.45%;
    left: 16.46%;
}

#u698-6 {
    z-index: 188;
    min-height: 247px;
    background-color: transparent;
    color: #C4C4C4;
    font-weight: 500;
    margin-top: 220px;
    position: relative;
    width: 57.45%;
    left: 16.46%;
}

#u701-6 {
    z-index: 194;
    min-height: 393px;
    background-color: transparent;
    color: #C4C4C4;
    font-weight: 500;
    margin-top: 188px;
    position: relative;
    width: 57.45%;
    left: 16.46%;
}

#u695-2, #u698-2, #u701-2 {
    font-size: 40px;
    line-height: 56px;
    font-family: futura-pt, sans-serif;
    font-style: italic;
}

#u695-4, #u698-4, #u701-4 {
    font-size: 30px;
    line-height: 42px;
    font-family: futura-pt, sans-serif;
}

#u704-bw {
    z-index: 3;
    min-height: 1784.5000000000036px;
    margin-top: 4px;
}

#contact {
    margin-top: 80px;
    position: relative;
    margin-left: 6.15%;
}

#ppu707-9 {
    z-index: 0;
    margin-top: 24px;
    width: 100%;
}

#pu707-9 {
    z-index: 79;
    margin-right: -10000px;
    width: 27.09%;
    margin-left: 6.62%;
}

#u707-9 {
    z-index: 79;
    min-height: 164px;
    background-color: transparent;
    color: #7C7C7C;
    position: relative;
    width: 100%;
}

#u710-9 {
    z-index: 88;
    min-height: 164px;
    background-color: transparent;
    color: #7C7C7C;
    margin-top: 26px;
    position: relative;
    width: 100%;
}

#u719-9 {
    z-index: 97;
    min-height: 164px;
    background-color: transparent;
    color: #7C7C7C;
    margin-top: 27px;
    position: relative;
    width: 100%;
}

#u707-2, #u710-2, #u719-2 {
    font-size: 35px;
    line-height: 39px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
}

#u707-3, #u707-5, #u707-7, #u710-3, #u710-5, #u710-7, #u719-3, #u719-5, #u719-7 {
    font-size: 25px;
    line-height: 28px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

#u722-6 {
    z-index: 106;
    min-height: 48px;
    background-color: transparent;
    line-height: 39px;
    color: #7C7C7C;
    font-size: 35px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 37px;
    position: relative;
    width: 70.58%;
}

#u728 {
    z-index: 200;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 7px;
    width: 36.78%;
    left: 50.53%;
}

#u517_img, #u537_img, #u557_img, #u567_img, #u597_img, #u728_img {
    width: 100%;
}

#pu774 {
    z-index: 2;
    margin-top: 127px;
    width: 100%;
}

#u774 {
    z-index: 2;
    min-height: 226px;
    background-color: #1C1C1C;
}

#u774_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1920px;
    padding-top: 38px;
    padding-bottom: 61px;
}

#social {
    position: relative;
    left: 6.62%;
}

#ppu903-6 {
    z-index: 0;
    margin-top: 3px;
    position: relative;
    width: 100%;
}

#pu903-6 {
    z-index: 208;
    margin-right: -10000px;
    width: 20.79%;
    margin-left: 17.66%;
}

#u903-6 {
    z-index: 208;
    min-height: 101px;
    background-color: transparent;
    line-height: 39px;
    text-align: center;
    color: #C4C4C4;
    font-size: 35px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    position: relative;
    margin-right: -10000px;
    margin-top: 5px;
    width: 52.64%;
}

#u906-6 {
    z-index: 214;
    min-height: 101px;
    background-color: transparent;
    line-height: 39px;
    text-align: center;
    color: #C4C4C4;
    font-size: 35px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    position: relative;
    margin-right: -10000px;
    margin-top: 5px;
    width: 52.64%;
    left: 47.37%;
}

#u765 {
    z-index: 221;
    height: 56px;
    background-color: #C4C4C4;
    position: relative;
    margin-right: -10000px;
    width: 1.01%;
    left: 52.64%;
}

#u738-6 {
    z-index: 202;
    min-height: 101px;
    background-color: transparent;
    line-height: 39px;
    text-align: center;
    color: #C4C4C4;
    font-size: 35px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    position: relative;
    margin-right: -10000px;
    margin-top: 5px;
    width: 10.94%;
    left: 6.62%;
}

#u738-3 {
    color: #C4C4C4;
}

#u738 {
    text-decoration: none;
}

#u747 {
    z-index: 220;
    height: 56px;
    background-color: #C4C4C4;
    position: relative;
    margin-right: -10000px;
    width: 0.21%;
    left: 17.45%;
}

#u774-bw {
    z-index: 2;
    min-height: 226px;
}

#u771-4 {
    z-index: 222;
    min-height: 32px;
    background-color: transparent;
    line-height: 25px;
    font-size: 21px;
    color: #C4C4C4;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 134px;
    width: 11.62%;
    left: 8.34%;
}

#muse_css_mq, .html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 320px;
}


