.version.index {
    color: #0000FA;
    background-color: #5CC91E;
}

#page {
    z-index: 1;
    min-height: 4165.775px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 62.225000000000364px;
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

#pu94-6 {
    z-index: 2;
    width: 94.8%;
    margin-left: 2.61%;
}

#u94-6 {
    z-index: 2;
    min-height: 162px;
    background-color: transparent;
    text-align: center;
    color: #707070;
    font-size: 65px;
    line-height: 78px;
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    position: relative;
    margin-right: -10000px;
    width: 29.54%;
}

#u94 {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u94-2 {
    letter-spacing: -2px;
}

#u100 {
    z-index: 8;
    height: 11px;
    background-color: #707070;
    border-radius: 5px;
    position: relative;
    margin-right: -10000px;
    margin-top: 21px;
    width: 9.21%;
    left: 89.29%;
}

#u103 {
    z-index: 9;
    background-color: #707070;
    border-radius: 5px;
    position: relative;
    margin-right: -10000px;
    margin-top: 36px;
    width: 9.21%;
    left: 89.29%;
}

#u113 {
    z-index: 10;
    height: 11px;
    background-color: #707070;
    border-radius: 5px;
    margin-bottom: -1px;
    position: relative;
    margin-right: -10000px;
    margin-top: 1px;
    width: 100%;
}

#u108 {
    z-index: 11;
    height: 11px;
    background-color: #707070;
    border-radius: 5px;
    position: relative;
    margin-right: -10000px;
    margin-top: 52px;
    width: 9.21%;
    left: 89.29%;
}

#u138 {
    z-index: 12;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 122px;
    width: 100%;
}

#u148-4 {
    z-index: 14;
    min-height: 126px;
    background-color: transparent;
    color: #707070;
    font-size: 24px;
    line-height: 34px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 165px;
    position: relative;
    width: 83.86%;
    margin-left: 8.08%;
}

#u152 {
    z-index: 18;
    background-color: #1C1C1C;
    padding-top: 50px;
    padding-bottom: 66.44999999999993px;
    margin-top: 156px;
    position: relative;
    width: 94.8%;
    margin-left: 2.61%;
}

#u155-5 {
    z-index: 20;
    min-height: 55px;
    background-color: transparent;
    font-size: 29px;
    line-height: 15px;
    font-weight: 500;
    position: relative;
    width: 70.75%;
    margin-left: 5.77%;
}

#u155 {
    text-align: center;
    color: #707070;
    font-family: futura-pt, sans-serif;
}

#u155-3 {
    text-align: left;
    color: #C4C4C4;
    font-family: futura-pt, sans-serif;
    font-style: italic;
}

#u159-9 {
    z-index: 32;
    min-height: 146px;
    background-color: transparent;
    font-size: 24px;
    line-height: 26px;
    margin-top: 45px;
    position: relative;
    width: 71.43%;
    margin-left: 14.7%;
}

#u159-4 {
    text-align: left;
    color: #C4C4C4;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    line-height: 0px;
}

#u159-5 {
    color: #999999;
}

#u163-9 {
    z-index: 41;
    min-height: 146px;
    background-color: transparent;
    margin-top: 41px;
    position: relative;
    width: 71.43%;
    margin-left: 14.7%;
}

#u163-4 {
    font-size: 33px;
    color: #C4C4C4;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    line-height: 0px;
}

#u163 {
    font-size: 24px;
    line-height: 26px;
}

#u163-2 {
    line-height: 36px;
}

#u163-5 {
    font-size: 25px;
    line-height: 28px;
    color: #999999;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

#u163-7 {
    font-size: 24px;
    line-height: 26px;
    color: #999999;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

#u168-8 {
    z-index: 50;
    min-height: 146px;
    background-color: transparent;
    font-size: 24px;
    line-height: 26px;
    margin-top: 42px;
    position: relative;
    width: 71.43%;
    margin-left: 14.7%;
}

#u173-8 {
    z-index: 58;
    min-height: 146px;
    background-color: transparent;
    font-size: 24px;
    line-height: 26px;
    margin-top: 41px;
    position: relative;
    width: 71.43%;
    margin-left: 14.7%;
}

#u168-3, #u173-3 {
    color: #C4C4C4;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    line-height: 0px;
}

#u159, #u159-3, #u168, #u173 {
    line-height: 26px;
}

#u159-2, #u163-3, #u168-2, #u173-2 {
    font-size: 20px;
    line-height: 22px;
}

#u159-7, #u168-4, #u168-6, #u173-4, #u173-6 {
    color: #999999;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

#u183-7 {
    z-index: 25;
    min-height: 55px;
    background-color: transparent;
    text-align: right;
    font-size: 29px;
    line-height: 15px;
    font-weight: 500;
    margin-top: 41px;
    position: relative;
    width: 70.75%;
    margin-left: 15.39%;
}

#u183 {
    color: #707070;
    font-family: futura-pt, sans-serif;
}

#u183-5 {
    color: #C4C4C4;
    font-family: futura-pt, sans-serif;
    font-style: italic;
}

#ppu204 {
    z-index: 0;
    margin-top: 5px;
    width: 94.8%;
    margin-left: 2.61%;
}

#pu204 {
    z-index: 84;
    margin-right: -10000px;
    width: 51.65%;
}

#u204 {
    z-index: 84;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#u214 {
    z-index: 86;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#pu224 {
    z-index: 88;
    margin-right: -10000px;
    margin-top: 5px;
    width: 48.22%;
    margin-left: 51.79%;
}

#u224 {
    z-index: 88;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#u249 {
    z-index: 90;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#u138_img, #u204_img, #u214_img, #u224_img, #u249_img {
    width: 100%;
}

#u259 {
    z-index: 19;
    background-color: #1C1C1C;
    padding-top: 139px;
    padding-bottom: 157px;
    margin-top: 6px;
    position: relative;
    width: 94.8%;
    margin-left: 2.61%;
}

#u264-6 {
    z-index: 66;
    min-height: 146px;
    background-color: transparent;
    color: #C4C4C4;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    position: relative;
    width: 71.43%;
    margin-left: 14.7%;
}

#u269-6 {
    z-index: 72;
    min-height: 146px;
    background-color: transparent;
    color: #C4C4C4;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    margin-top: 139px;
    position: relative;
    width: 71.43%;
    margin-left: 14.7%;
}

#u274-6 {
    z-index: 78;
    min-height: 146px;
    background-color: transparent;
    color: #C4C4C4;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    margin-top: 140px;
    position: relative;
    width: 71.43%;
    margin-left: 14.7%;
}

#u264-2, #u269-2, #u274-2 {
    font-family: futura-pt, sans-serif;
    font-style: italic;
}

#u264-4, #u269-4, #u274-4 {
    font-family: futura-pt, sans-serif;
}

#u279-9 {
    z-index: 92;
    min-height: 164px;
    background-color: transparent;
    text-align: center;
    color: #7C7C7C;
    font-size: 24px;
    line-height: 26px;
    margin-top: 50px;
    position: relative;
    width: 67.71%;
    margin-left: 17.84%;
}

#u280-9 {
    z-index: 101;
    min-height: 164px;
    background-color: transparent;
    text-align: center;
    color: #7C7C7C;
    font-size: 24px;
    line-height: 26px;
    margin-top: 27px;
    position: relative;
    width: 67.71%;
    margin-left: 17.84%;
}

#u281-9 {
    z-index: 110;
    min-height: 164px;
    background-color: transparent;
    text-align: center;
    color: #7C7C7C;
    font-size: 24px;
    line-height: 26px;
    margin-top: 26px;
    position: relative;
    width: 67.71%;
    margin-left: 17.84%;
}

#u279-2, #u280-2, #u281-2 {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
}

#u279-3, #u279-5, #u279-7, #u280-3, #u280-5, #u280-7, #u281-3, #u281-5, #u281-7 {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}

#u282-6 {
    z-index: 119;
    min-height: 48px;
    background-color: transparent;
    text-align: center;
    color: #7C7C7C;
    font-size: 35px;
    line-height: 39px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 37px;
    position: relative;
    width: 47.79%;
    margin-left: 27.74%;
}

#u282-4 {
    line-height: 0px;
}

#u282 {
    font-size: 30px;
    line-height: 33px;
}

#muse_css_mq, .html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 480px;
}


